@font-face {
    font-family: 'Edge Display';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("./EdgeDisplay-Bold.woff2") format("woff2");
}

@font-face {
    font-family: 'Edge Display';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("./EdgeDisplay-Regular.woff2") format("woff2");
}