@import url(./fonts.css);

.page {
    background-color: aquamarine;
    min-width: 320px;
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.todo__heading {
    text-align: center;
    font-size: 70px;
    font-family: Edge Display;
    font-weight: 700;
}

.todo__input {
    width: 70%;
    height: 100px;
    font-size: 30px;
    border-radius: 5px;
    font-family: Edge Display;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 10px;
}

.todo__add-button {
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: flex-end;
    width: 30%;
    min-width: 140px;
    height: 35px;
    background-color: rgb(197, 197, 56);
    margin-bottom: 40px;
    border: 3px solid black;
    border-radius: 5px;
    font-family: Edge Display;
    font-size: 20px;
    text-align: center;
    vertical-align: center;
}

.todo__add-button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.todo__add-button:disabled {
    background-color: transparent;
    cursor: auto;
    opacity: 1;
}

.todo__task-container {
    position: relative;
    width: 70%;
    height: fit-content;
}

.todo__task {
    font-family: Edge Display;
    box-sizing: border-box;
    background-color: pink;
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}

.todo__delete-button {
    position: absolute;
    top: 0px;
    right: -25px;
    background-image: url(./todo__close-button-icon.svg);
    border: none;
    background-color: transparent;
    width: 22px;
    height: 22px;
    background-size: contain;
}

.todo__delete-button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.scroll-to-top {
    font-weight: bold;
    padding: 0;
    margin: 0;
    padding: 3px;
    font-family: Edge Dislay;
    border: 2px solid black;
    border-radius: 5px;
    background-color: pink;
    display: none;
    position: fixed;
    right: 3%;
    bottom: 2%;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.scroll-to-top:hover {
    cursor: pointer;
    opacity: 0.5;
}

.scroll-to-top_active {
    display: block;

}

@media screen and (max-width: 600px) {

    .todo__task-container {
        width: 60%;
    }
    .todo__heading {
        font-size: 40px;
    }  

    .todo__input {
        height: 50px;
        font-size: 20px;
    }

    .todo__task {
        min-height: 50px;
    }

}

@media screen and (min-width: 1440px) {
  
    .scroll-to-top {
        right: 150px;
    }   
}

@media screen and (min-width: 2000px) {
  
    .scroll-to-top {
        right: 400px;
    }   
}